
.header{
    height: 90px;
    display: flex;
    border: solid #e4e6ea 1px;
    
}
#nav{
    display: flex;
    position: relative;
}
.header img{
    max-width: 100%;
    height: auto;
    margin-left: 240px;
   
  
    
}
.en{
   margin-left: 950px;
   font-size: medium;
}
#down{
    margin-left: px;
}
.section1{
    justify-content: center;
    margin-left: 660px;
    margin-top: 40px;
    font-size: x-large;
    font-weight: 500;
    
}
.loc{
    color: #616161;
}
.loc2{
    color:#0c0c0c;
}
.section1 button{
    width: 8%;
    border-radius: 8px;
    text-align: center;
    background-color: #c7c7c3;
    color: white;
    font-size: large;
    font-family: sans-serif  ;
    border: none;
}
.pick img{
    margin-left: 730px;
    margin-top: 50px;
    width: 17%;
}
.box{
display: flex;
position: relative;
gap: 13px;
margin-left: 470px;
margin-top: 40px;


}
.mybox{
    grid-template-columns: repeat(9,1fr);
}
.box1{
    width: 12%;
    position: relative;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    background-color: white;
}
.box2{
    position: relative;
    width: 12%;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    background-color: white;
}
.box3{
    position: relative;
    width: 12%;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    background-color: white;
}
.box4{
    position: relative;
    width: 12%;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    background-color: white;
}
.box5{
    position: relative;
    width: 12%;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    background-color: white;
}
.box5{
    position: relative;
    width: 12%;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    background-color: white;
}
.box6{
    position: relative;
    width: 12%;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    padding-bottom: 29px;
    background-color: white;
}
.box7{
    position: relative;
    width: 12%;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    background-color: white;
}
.box8{
    position: relative;
    width: 12%;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    background-color: white;
}
.box9{
    position: relative;
    width: 12%;
    height: 120px;
    border: solid #d1d5db 1px;
    border-radius: 5px;
    background-color: white;
}
.boxx1{
    display: flex;
    position: relative;
    gap: 13px;
    margin-left: 580px;
    margin-top: 40px;
    
}
#car{
margin-left: 55px;
margin-top: 45px;
color: #696969;
}
#motor{
margin-left: 45px;
margin-top: 11px;
color: #696969;
font-size: medium;
font-weight: 800;
font-family: sans-serif;
}
#tag{
    margin-left: 55px;
    margin-top: 30px;
    color: #696969;
    }
#Buy{
margin-left: 10px;
margin-top: 16px;
color: #696969;
font-size: large;
font-weight: 600;
font-family: sans-serif;
}
#house{
    margin-left: 50px;
    margin-top: 30px;
    color: #696969;
    }
#property{
margin-left: 32px;
margin-top: 16px;
color: #696969;
font-size: large;
font-weight: 600;
font-family: sans-serif;
}
#tools{
    margin-left: 50px;
    margin-top: 30px;
    color: #696969;
    }
#services{
margin-left: 32px;
margin-top: 16px;
color: #696969;
font-size: large;
font-weight: 600;
font-family: sans-serif;
}
#group{
    margin-left: 50px;
    margin-top: 30px;
    color: #696969;
 }
#Community{
margin-left: 20px;
margin-top: 16px;
color: #696969;
font-size: large;
font-weight: 600;
font-family: sans-serif;
}
#petsicon{
    margin-left: 50px;
    margin-top: 30px;
    color: #696969;
    }
#pets{
margin-left: 47px;
margin-top: 16px;
color: #696969;
font-size: large;
font-weight: 600;
font-family: sans-serif;
}
#briefcase{
    margin-left: 50px;
    margin-top: 30px;
    color: #696969;
    }
#Jobs{
margin-left: 44px;
margin-top: 16px;
color: #696969;
font-size: large;
font-weight: 600;
font-family: sans-serif;
}
#chat{
    margin-left: 50px;
    margin-top: 30px;
    color: #696969;
    }
#dating{
margin-left: 3px;
margin-top: 16px;
color: #696969;
font-size: large;
font-weight: 600;
font-family: sans-serif;
}
#per{
    margin-left: 40px;
    margin-top: 30px;
    color: #696969;
    }
#personals{
margin-left: 22px;
margin-top: 16px;
color: #696969;
font-size: large;
font-weight: 600;
font-family: sans-serif;
}

.footer{
    background-color: #f2f2ed;
    height: 430px;
}
.content{
    justify-content: center;
    font-size: large;
    margin-left: 300px;
    color: #c2c2c1;
    padding-top: 60px;
}
footer a{
    color: #404958;
}
.secondfooter{
    margin-left: 720px;
    padding-top: 40px;
    font-size: large;
   font-weight: 500;
   color: #6f7781;
}
.secondfooter .span1{
    color:  #c2c2c1;
}
.secondfooter a{
    color:  #404958;
}
.thirdfooter {
    margin-left: 550px;
    padding-top: 40px;
    font-size: large;
    font-weight: 600;
    color: #6f7781;
    
}
.thirdfooter a {
    color: #404958;
}
.year{
    margin-left: 850px;
    padding-top: 40px;
    font-size: large;
   font-weight: 200;
   color: #6f7781;
}

@media screen and (min-width:320px) and (max-width: 1000px) {
    .header{
        height: 90px;
        width: 100%;
        display: flex;
        border: solid #e4e6ea 1px;
        
    }
    #nav{
        display: flex;
        
    }
    .logo-holder{
        margin-left: -220px;
        width: 50%;
        margin-top: 35px;
        position: relative;
    }
    .en{
        margin-left: 90px;
        font-size: medium;
        margin-bottom: 30px;
        position: absolute;
     }
     .section1{
        justify-content: center;
        margin-left: 35px;
        margin-top: 40px;
        font-size: medium;
        font-weight: 500;
        font-family: Arial, Helvetica, sans-serif;
        
    }
    .loc{
        color: #616161;
    }
    .loc2{
        color:#0c0c0c;
    }
    .section1 button{
        width: 20%;
        border-radius: 8px;
        text-align: center;
        background-color: #c7c7c3;
        color: white;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
    }
    .pick img{
        margin-left: 90px;
        margin-top: 20px;
        width: 50%;
        
    }

    .box{
        display: grid;
        position: relative;
        gap: 1px;
        margin-left: 8px;
        margin-top: 20px;
        grid-template-columns: repeat(3,1fr);
        
        
        }
        .box1{
            width: 90%;
            position: relative;
            height:100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .box2{
            position: relative;
            width: 90%;
            height: 100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .box3{
            position: relative;
            width: 90%;
            height: 100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .box4{
            position: relative;
            width: 90%;
            height: 100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .box5{
            position: relative;
            width: 90%;
            height: 100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .box5{
            position: relative;
        
            width: 90%;
            height: 100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .box6{
            position: relative;
            width: 90%;
            
            height: 100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .box7{
            position: relative;
            width: 90%;
            height: 100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .box8{
            position: relative;
            width: 90%;
            height: 100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .box9{
            position: relative;
            width: 90%;
            height: 100px;
            border: solid #d1d5db 1px;
            border-radius: 5px;
            background-color: white;
        }
        .boxx1{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            flex-wrap: wrap;
            gap: 1px;
            margin-left: 8px;
            margin-top: 10px;

            
        }
        #car{
        margin-left: 40px;
        width: 10%;
        margin-top: 45px;
        color: #696969;
        }
        #motor{
        margin-left: 30px;
        margin-top: 11px;
        color: #696969;
        font-size: medium;
        font-weight: 800;
        font-family: sans-serif;
        }
        #tag{
            margin-left: 40px;
            margin-top: 30px;
            color: #696969;
            }
        #Buy{
        margin-left: 7px;
        margin-top: 16px;
        color: #696969;
        font-size: medium;
        font-weight: 600;
        font-family: sans-serif;
        }
        #house{
            margin-left: 40px;
            margin-top: 30px;
            color: #696969;
            }
        #property{
        margin-left: 25px;
        margin-top: 16px;
        color: #696969;
        font-size: large;
        font-weight: 600;
        font-family: sans-serif;
        }
        #tools{
            margin-left: 40px;
            margin-top: 30px;
            color: #696969;
            }
        #services{
        margin-left: 20px;
        margin-top: 16px;
        color: #696969;
        font-size: large;
        font-weight: 600;
        font-family: sans-serif;
        }
        #group{
            margin-left: 40px;
            margin-top: 30px;
            color: #696969;
         }
        #Community{
        margin-left: 13px;
        margin-top: 16px;
        color: #696969;
        font-size: large;
        font-weight: 600;
        font-family: sans-serif;
        }
        #petsicon{
            margin-left: 40px;
            margin-top: 30px;
            color: #696969;
            }
        #pets{
        margin-left: 38px;
        margin-top: 16px;
        color: #696969;
        font-size: large;
        font-weight: 600;
        font-family: sans-serif;
        }
        #briefcase{
            margin-left: 40px;
            margin-top: 30px;
            color: #696969;
            }
        #Jobs{
        margin-left: 36px;
        margin-top: 16px;
        color: #696969;
        font-size: large;
        font-weight: 600;
        font-family: sans-serif;
        }
        #chat{
            margin-left: 40px;
            margin-top: 30px;
            color: #696969;
            }
        #dating{
        margin-left: 5px;
        margin-top: 16px;
        color: #696969;
        font-size: medium;
        font-weight: 600;
        font-family: sans-serif;
        }
        #per{
            margin-left: 40px;
            margin-top: 30px;
            color: #696969;
            }
        #personals{
        margin-left: 20px;
        margin-top: 16px;
        color: #696969;
        font-size: large;
        font-weight: 600;
        font-family: sans-serif;
        }

        .footer{
            background-color: #f2f2ed;
            height: 430px;
        }
        .content{
            justify-content: center;
            font-size:small;
            margin-left: 3px;
            color: #c2c2c1;
            padding-top: 30px;
        }
        footer a{
            color: #404958;
        }
        .secondfooter{
            margin-left: 50px;
            padding-top: 40px;
            font-size: small;
           font-weight: 500;
           color: #6f7781;
        }
        .secondfooter .span1{
            color:  #c2c2c1;
        }
        .secondfooter a{
            color:  #404958;
        }
        .thirdfooter {
            margin-left: 10px;
            padding-top: 40px;
            font-size: xx-small;
            font-weight: 600;
            color: #6f7781;
            
        }
        .thirdfooter a {
            color: #404958;
        }
        .year{
            margin-left: 170px;
            padding-top: 50px;
            font-size: small;
           font-weight: 200;
           color: #6f7781;
        }
        #down{
         display: none;
        }
  
}